.task-input {
  height: 50px;
  width: 90%;
  border: none;
  background-color: #edf1ff;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1.2em;
  font-weight: 500;

  &:last-child {
    border-bottom: 0;
  }

  &__error {
    color: #ff0000;
  }
}

.task-edit-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
