@import "../../styles/index";

.card {
  display: flex;
  flex-direction: column;
  width: 30%;

  &__row {
    display: flex;
    height: 40px;

    button {
      margin-left: 1em;
    }
  }

  &__title {
    color: $dnd-board-title;
    font-size: 2em;
    font-weight: 600;
  }

  &__main {
    background-color: $dnd-board-background;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    max-height: 80vh;
    overflow-y: auto;
    margin-top: 16px;
    padding: 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1),
      0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);

    // scrollbar
    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-track {
      border-radius: 1rem;
      margin: 1rem 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #37f9b4;
      border-radius: 1rem;
      border: 0.3rem solid $dnd-board-background;

      &:hover {
        background-color: darken(#37f9b4, 10%);
      }
    }
  }
}
