.font-size {
  display: flex;

  &__single {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:first-child {
      margin-right: 1rem;
    }

    span {
      margin-left: 0.3rem;
    }
  }
}
