@import "../../styles/index";

.item {
  background-color: $dnd-light-theme-item-background;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: grab;
  display: flex;
  margin-bottom: 15px;
  padding: 0 1rem;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  &__container {
    width: 95%;
  }

  &__top-container {
    display: flex;
    margin: 1rem 0 1rem;
    justify-content: space-between;
  }

  &__priority-icon {
    cursor: default;
    margin-right: 0.8em;
  }

  &__title {
    font-size: 2em;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
    width: 100%;
  }

  &__description {
    text-overflow: ellipsis;
    padding-bottom: 1rem;
    width: 90%;
  }

  &__dots-container {
    display: flex;
    align-items: center;
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    &:hover {
      background-color: darken($dnd-light-theme-item-background, 2%);
    }
  }
}
