@import "../../styles/index";

.settings-modal {
  display: flex;
  flex-direction: column;
  background: $dnd-item-background;
  border: $dnd-border-size solid $dnd-border;
  border-radius: 1rem;
  box-shadow: -3px -4px 24px 0px rgba(86, 100, 153, 0.75);
  -webkit-box-shadow: -3px -4px 24px 0px rgba(86, 100, 153, 0.75);
  -moz-box-shadow: -3px -4px 24px 0px rgba(86, 100, 153, 0.75);
  min-width: 170px;
  width: 15vw;

  &__title {
    border-bottom: 2px solid $dnd-border;
    padding: 0.8rem 0.7rem;

    span {
      font-size: 1.8em;
    }
  }

  &__single {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8rem 1rem;
    width: 100%;
    font-size: 1em;

    span {
      color: $dnd-color;
    }

    &.active {
      background-color: $dnd-board-background;

      span {
        color: $dnd-black;
      }
    }

    &:hover {
      background-color: $dnd-board-background;
      padding-left: 1.2rem;

      span {
        color: $dnd-black;
      }
    }

    &:last-child {
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      &:hover {
        padding-left: 1rem; // static on hover
      }
    }
  }
}
