.create-new-item-button {
  --button--color: #ff7171;

  background-color: #fff;
  border: 3px solid var(--button--color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;

  span {
    font-size: 3em;
    color: var(--button--color);
  }

  &:hover {
    margin-top: -1px;

    span {
      color: darken(#ff7171, 10%);
    }
  }
}
