// light theme
$dnd-light-background: #dce4ff;
$dnd-light-color: #0e0e0e;
$dnd-settings-menu-hover-light-color: #f3f3f3;

// dark theme

// font size
$dnd-small-font-size: 16px;
$dnd-large-font-size: 24px;
